# You will need to make a local secrets.yml file with the following secrets in it
# Customize for your application

# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 47b7229487dd9aacc243c5270990a24699392e2d3332a946a15ae1bacf88fc2a33459f4c3844b1db2969b8d5c76934a26195ac040dd030f7aa006727e3b28c2d
  paypal_business_email: youremail@yourhost.com

test:
  secret_key_base: addee23bb27d78c9c8fe59d3d143cb1817e33dec0032c8aba633c22fc3590b884821059f042ed67648390f71f5a7607f1cbe0f62276b1d1dce438b38e0cf8f80
  paypal_business_email: youremail@yourhost.com

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  paypal_business_email: youremail@yourhost.com
